services:
  frontend:
    user: node

    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    networks:
      - rishu-app_network
    depends_on:
      - backend

  backend:

    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - db:/workspace/bd
    networks:
      - rishu-app_network
    depends_on:
      - selenium
    environment:
      SELENIUM_URL: http://selenium:4444/wd/hub

  selenium:
    image: selenium/standalone-chrome:4.1.4-20220427
    shm_size: 2g
    cpus: 2
    mem_limit: 4g
    volumes:
      - /dev/shm:/dev/shm
    networks:
      - rishu-app_network

  web:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:80
    networks:
      - rishu-app_network

networks:
  rishu-app_network:
    name: rishu-app_network
    driver: bridge

volumes:
  db:
