services:
  frontend:
    user: node

    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    environment:
      - GTM=${GTM}
      - GOOGLE_SITE_VERIFICATION=${GOOGLE_SITE_VERIFICATION}
      - NODE_ENV=production
    networks:
      - rishu-app_network
    depends_on:
      - backend

  backend:

    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - db:/workspace/bd
    networks:
      - rishu-app_network
    depends_on:
      - selenium
    environment:
      SELENIUM_URL: http://selenium:4444/wd/hub
      ENV: production

  selenium:
    image: selenium/standalone-chrome:4.1.4-20220427
    shm_size: 2g
    cpus: 2
    mem_limit: 4g
    volumes:
      - /dev/shm:/dev/shm
    networks:
      - rishu-app_network

  web:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:80
    networks:
      - rishu-app_network
    depends_on:
      - frontend
      - backend
      - syllabus

  syllabus:
    build:
      context: ./syllabus
      dockerfile: Dockerfile
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - rishu-app_network
    depends_on:
      - syllabus-db

  syllabus-db:
    image: postgres:17.4-bullseye
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - syllabus-db:/var/lib/postgresql/data
    networks:
      - rishu-app_network

networks:
  rishu-app_network:
    name: rishu-app_network
    driver: bridge

volumes:
  db:
  syllabus-db:
