services:
  frontend:
    container_name: frontend
    user: node

    build:
      context: ./frontend
      dockerfile: Dockerfile.dev

    volumes:
      - type: bind
        source: ./frontend
        target: /workspace

      - type: volume
        source: node-modules
        target: /workspace/node_modules

    ports:
      - 3000:3000
    networks:
      - rishu-app_network
    environment:
      - GTM=${GTM}
      - GOOGLE_SITE_VERIFICATION=${GOOGLE_SITE_VERIFICATION}

volumes:
  node-modules:
    name: frontend_node_modules

networks:
  rishu-app_network:
    name: rishu-app_network
    driver: bridge
