services:
  frontend:
    user: node

    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    environment:
      - GTM=${GTM}
      - GOOGLE_SITE_VERIFICATION=${GOOGLE_SITE_VERIFICATION}
      - NODE_ENV=production
    networks:
      - rishu-app_network

  web:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:80
    networks:
      - rishu-app_network
    depends_on:
      - frontend
      - syllabus-backend

  syllabus-backend:
    build:
      context: ./syllabus-backend
      dockerfile: Dockerfile
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - rishu-app_network
    depends_on:
      - syllabus-db

  syllabus-db:
    image: postgres:17.4-bullseye
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - syllabus-db:/var/lib/postgresql/data
    networks:
      - rishu-app_network

networks:
  rishu-app_network:
    driver: bridge

volumes:
  syllabus-db:
