services:
  frontend:
    user: node
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    environment:
      - NODE_ENV=development
    volumes:
      - type: bind
        source: .
        target: /workspace

      - type: volume
        source: node-modules
        target: /workspace/frontend/node_modules
    ports:
      - 3000:3000
    command: sleep infinity

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    environment:
      - ENV=development
    volumes:
      - type: bind
        source: .
        target: /workspace
    ports:
      - 8000:8000
    command: sleep infinity

  selenium:
    ports:
      - 4444:4444
      - 7900:7900

  mock-page:
    build:
      context: ./mock-page
      dockerfile: Dockerfile.dev
    ports:
      - 1313:1313
    networks:
      - rishu-app_network

  syllabus:
    build:
      context: ./syllabus
      dockerfile: Dockerfile.dev
    volumes:
      - type: bind
        source: .
        target: /workspace
    ports:
      - 8080:8080
    command: sleep infinity

volumes:
  node-modules:
    name: frontend_node_modules
