services:
  frontend:
    container_name: frontend
    user: node

    build:
      context: ./frontend
      dockerfile: Dockerfile.dev

    volumes:
      - type: bind
        source: ./frontend
        target: /workspace

      - type: volume
        source: node-modules
        target: /workspace/node_modules

    ports:
      - 3000:3000
    networks:
      - rishu-app_network
    depends_on:
      - backend

  backend:
    container_name: backend

    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - type: bind
        source: ./backend
        target: /workspace
    ports:
      - 8000:8000
    networks:
      - rishu-app_network

volumes:
  node-modules:
    name: frontend_node_modules

networks:
  rishu-app_network:
    name: rishu-app_network
    driver: bridge
