services:
  frontend:
    user: node
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    restart: no
    environment:
      - NODE_ENV=development
    volumes:
      - type: bind
        source: .
        target: /workspace

      - type: volume
        source: frontend-node-modules
        target: /workspace/frontend/node_modules
      - type: volume
        source: pnpm-store
        target: /workspace/frontend/.pnpm-store
    ports:
      - 3000:3000
    command: sleep infinity
  mock-page:
    build:
      context: ./mock-page
      dockerfile: Dockerfile.dev
    ports:
      - 1313:1313
    networks:
      - rishu-app_network

  syllabus:
    build:
      context: ./syllabus
      dockerfile: Dockerfile.dev
    restart: no
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=syllabus
    volumes:
      - type: bind
        source: .
        target: /workspace
    ports:
      - 8080:8080
    command: sleep infinity

  syllabus-db:
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=syllabus

  syllabus-scrape:
    build:
      context: ./syllabus-scrape
      dockerfile: Dockerfile.dev
    restart: no
    volumes:
      - type: bind
        source: .
        target: /workspace
      - type: volume
        source: syllabus-scrape-node-modules
        target: /workspace/syllabus-scrape/node_modules
      - type: volume
        source: pnpm-store
        target: /workspace/syllabus-scrape/.pnpm-store
    command: sleep infinity
    environment:
      - NODE_ENV=development
    networks:
      - rishu-app_network

volumes:
  pnpm-store:
  frontend-node-modules:
  syllabus-scrape-node-modules:
