@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url("https://unpkg.com/sanitize.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

:root {
  --main-color: #373737;
  --main-bg-color: #e4e4e4;
  --accent-color-1: #fea724;
  --accent-color-2: #ff5018;
  --accent-color-3: #fd7512;
  --graph-color-1: #6dcc47;
  --graph-color-2: #474ccc;
  --graph-color-3: #cc7147;
  --graph-color-4: #90cf78;
  --graph-color-5: #787bcf;
  --graph-color-6: #cf9378;
  --graph-bg-color: #37373779;
  --menu-bg-color: #37373752;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}


* {
  font-family: "Noto Sans JP",
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  ;
  background-color: inherit;
}

body {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--menu-bg-color);
  border-radius: 1px;
}

.rishu-app {
  width: 100%;
  height: 100dvh;
  overflow-x: auto;
}

.timetable {
  width: 100%;
  height: 100%;
  margin: 0;
  border-collapse: collapse;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.timetable__row-head {
  height: 32px;
  width: 100%;
  display: grid;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

.timetable__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  position: sticky;
  left: 0;
  z-index: 1;
}

.timetable__body {
  height: calc(100% - 1rem);
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.timetable__row {
  display: grid;
  grid-template-columns: 1rem repeat(5, 1fr);
}


.timetable__datas {
  height: calc((100vh - 32px) / 5);
  overflow-x: hidden;
  white-space: nowrap;
  vertical-align: top;
  border-bottom: 1px dashed var(--main-color);
  border-right: 1px dotted var(--main-color);
}

.timetable__datas:last-child {
  border-right: none;
}

.timetable__row:last-child .timetable__datas {
  border-bottom: none;
}

.lectures {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 8px 4px 8px 6px;
  height: calc(100% - 16px);
  padding-right: 6px;
}


.lecture {
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  height: fit-content;
  text-overflow: clip;
  padding: 0;
  margin-bottom: 3px;
  color: var(--main-color);
}

.lecture__name {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.lectures .lecture:last-child {
  margin-bottom: 0;
}

.lecture__bar-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  opacity: 50%;
  font-size: 0;
  border: var(--graph-bg-color) dotted 1px;
  overflow: hidden;
}

.lecture__bar {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

.lecture__bar:nth-child(1) {
  background-color: var(--graph-color-1);
}

.lecture__bar:nth-child(2) {
  background-color: var(--graph-color-2);
}

.lecture__bar:nth-child(3) {
  background-color: var(--graph-color-3);
}

.lecture__bar:nth-child(4) {
  background-color: var(--graph-color-4);
}

.lecture__bar:nth-child(5) {
  background-color: var(--graph-color-5);
}

.lecture__bar:nth-child(6) {
  background-color: var(--graph-color-6);
}

.button {
  transition: background-color 200ms ease-in 0ms;
  transition: box-shadow 200ms ease-in 50ms;
  transition: color 200ms ease-in 0ms;
}

.button:hover {
  background-color: var(--accent-color-1);
  color: var(--main-bg-color);
  transition: background-color 200ms ease-out 0ms;
  transition: color 200ms ease-out 0ms;
  transition: box-shadow 100ms ease-out 0ms;
  box-shadow: 0 0 2px 2px var(--menu-bg-color);
}

.button:active {
  box-shadow: none;
  transition: box-shadow 50ms ease-out 0ms;
}


.setting-button {
  font-size: 24px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: none;
  background-color: #00000000;
  z-index: 3;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 3px;
  transition: background-color 200ms ease-in 0ms;
  transition: box-shadow 200ms ease-in 50ms;
  transition: color 200ms ease-in 0ms;
}

.setting-menu-wrap {
  display: flex;
  visibility: hidden;
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: var(--menu-bg-color);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(3px);
  z-index: 4;
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.setting-menu-wrap--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.setting-menu {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  padding: 10px;
  max-width: 800px;
  width: 80%;
  max-height: 800px;
  height: 79%;
  position: relative;
  z-index: 5;
  box-shadow: 0 0 10px var(--menu-bg-color);
}

.setting-menu__close-button {
  position: absolute;
  right: 6px;
  top: 6px;
  border: none;
  aspect-ratio: 1;
  padding: 2px;
  border-radius: 50%;
}